<nav></nav>
<div class="main">
    <div class="titleSign">
        <h1>Our Signers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos cupiditate magni corporis nesciunt libero autem sunt adipisci ratione iste exercitationem. Minus odio aspernatur in exercitationem, enim nam itaque architecto voluptatum.</p>
    </div>
    <div class="signersList">

    <div class="citySigners">
        {{#if cityMatch}}
        <h1>Signers from {{city}} </h1>
        {{#cityMatch}}
            <h1>{{first_name}} {{last_name}}, {{age}}</h1>
        {{/cityMatch}}
        {{/if}}
    </div>
        {{#ourSigners}}
        {{#if url}}
        <h1> <a target="_blank" href="{{url}}">{{first_name}} {{last_name}}</a>{{#if age}}<span>, {{age}}</span>{{else}}{{/if}}</h1>
        {{else}}
        <h1>{{first_name}} {{last_name}} {{#if age}}<span>, {{age}}</span>{{else}}{{/if}}</h1>
        {{/if}}
        {{#if city}}
        <h3>City: <a href="/our-signers/{{city}}">{{city}}</a></h3>
        {{else}}
        <h3></h3>
        {{/if}}
        <p>{{created}}</p>
        <div class="linebreak"></div>
        {{/ourSigners}}
    </div> 
    <button> <a href="/edit-profile">edit profile here </a></button>
</div>




